<div class="gp-select-field">
  <label *ngIf="label" class="gp-select-label" [attr.id]="labelId" [attr.for]="resolvedId">{{ label }}</label>

  <ng-container *ngIf="mode === 'native'; else customSelect">
    <select
      [id]="resolvedId"
      [class]="nativeSelectClass"
      [disabled]="resolvedDisabled"
      [attr.aria-label]="ariaLabel || label"
      [attr.aria-describedby]="describedBy"
      [attr.aria-invalid]="isError"
      [value]="internalValue ?? ''"
      (change)="handleNativeChange($event)"
      (blur)="handleBlur()"
    >
      <option
        *ngIf="placeholder"
        value=""
        disabled
        [selected]="internalValue === null || internalValue === ''"
      >
        {{ placeholder }}
      </option>
      <ng-container *ngIf="hasGroups; else flatOptions">
        <optgroup
          *ngFor="let group of groups"
          [label]="group.label"
          [disabled]="group.disabled"
        >
          <option
            *ngFor="let option of group.options"
            [value]="option.value"
            [disabled]="option.disabled"
          >
            {{ option.label }}
          </option>
        </optgroup>
      </ng-container>
      <ng-template #flatOptions>
        <option
          *ngFor="let option of options"
          [value]="option.value"
          [disabled]="option.disabled"
        >
          {{ option.label }}
        </option>
      </ng-template>
    </select>
  </ng-container>

  <ng-template #customSelect>
    <p-select
      [inputId]="resolvedId"
      [options]="hasGroups ? groups : options"
      [group]="hasGroups"
      [optionGroupLabel]="groupLabel"
      [optionGroupChildren]="groupOptions"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [placeholder]="placeholder"
      [disabled]="resolvedDisabled"
      [styleClass]="selectClass"
      [ariaLabel]="ariaLabel || label"
      [ariaLabelledBy]="label ? labelId : undefined"
      [ngModel]="internalValue"
      (onChange)="handleCustomChange($event)"
      (onBlur)="handleBlur()"
    ></p-select>
  </ng-template>

  <p *ngIf="!isError && helperText" [id]="helperId" class="gp-select-helper">{{ helperText }}</p>
  <p *ngIf="isError && errorText" [id]="errorId" class="gp-select-error" role="alert">{{ errorText }}</p>
</div>
