<div class="gp-input-field">
  <label *ngIf="label" [class]="labelClass" [attr.for]="resolvedId">{{ label }}</label>
  <ng-container *ngIf="leadingIcon; else plainInput">
    <span class="p-input-icon-left">
      <i class="pi" [class]="leadingIconClass" aria-hidden="true"></i>
      <input
        [id]="resolvedId"
        pInputText
        [class]="inputClass"
        [attr.placeholder]="placeholder"
        [attr.aria-label]="ariaLabel || label"
        [attr.aria-describedby]="describedBy"
        [attr.aria-invalid]="isError"
        [attr.type]="type"
        [value]="internalValue ?? ''"
        [disabled]="resolvedDisabled"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
      />
    </span>
  </ng-container>
  <ng-template #plainInput>
    <input
      [id]="resolvedId"
      pInputText
      [class]="inputClass"
      [attr.placeholder]="placeholder"
      [attr.aria-label]="ariaLabel || label"
      [attr.aria-describedby]="describedBy"
      [attr.aria-invalid]="isError"
      [attr.type]="type"
      [value]="internalValue ?? ''"
      [disabled]="resolvedDisabled"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
    />
  </ng-template>
  <p *ngIf="!isError && helperText" [id]="helperId" class="gp-input-helper">{{ helperText }}</p>
  <p *ngIf="isError && errorText" [id]="errorId" class="gp-input-error" role="alert">{{ errorText }}</p>
</div>
