@use '../../../../dist/sass/tokens' as tokens;
@use '../../../../dist/sass/typography.mixins' as typography;

:host {
  display: block;
  width: 100%;
}

.gp-input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: #{tokens.$spacing-layout-xs};
}

.gp-input-label {
  @include typography.typography-label-md;
  color: tokens.$color-foreground-default;
  margin: 0;
}

.gp-input-label--sm {
  @include typography.typography-label-sm;
}

.gp-input-label--lg {
  @include typography.typography-label-lg;
}

.gp-input-helper {
  @include typography.typography-body-sm;
  color: tokens.$color-foreground-subtle;
  margin: 0;
  align-self: flex-start;
  text-align: left;
}

.gp-input-error {
  @include typography.typography-body-sm;
  color: tokens.$color-foreground-error;
  margin: 0;
  align-self: flex-start;
  text-align: left;
}

.gp-input {
  width: 100%;
}
