@use '../../../../tokens.scss' as tokens;
@use '../../../../typography.mixins.scss' as typography;

.page {
  display: flex;
  flex-direction: column;
}

.doc-card {
  padding: 24px;
  background: transparent;
  border-radius: 0;
  border: none;
}

.doc-card--intro {
  background: transparent;
  padding: calc(#{tokens.$spacing-layout-lg} * 4) 0 #{tokens.$spacing-layout-md};
}

.docs-h1 {
  margin: 4px 0 8px;
}

.overview-lead {
  @include typography.typography-body-xl;
  margin: 0;
  color: tokens.$color-foreground-default;
}

.section {
  margin-top: calc(#{tokens.$spacing-layout-lg} * 2);
}

.docs-body {
  margin: 0 0 #{tokens.$spacing-layout-md};
  color: tokens.$color-foreground-default;
}

.section .docs-h2 {
  margin: #{tokens.$spacing-layout-lg} 0 10px;
}

.section .docs-h2:not(:first-child) {
  margin-top: calc(#{tokens.$spacing-layout-lg} * 1.5);
}

.docs-h3 {
  margin: #{tokens.$spacing-layout-md} 0 8px;
}
