:host {
  display: inline-flex;
}

.gp-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  flex-shrink: 0;
  line-height: 1;
  color: currentColor;
  pointer-events: none;
}
